<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title>Cute or Really Cute?</title>
    {% load staticfiles %}
    <link href="{% static 'cats/slider/css/overcast/jquery-ui-1.10.4.custom.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Alike' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
    <script src="{% static 'cats/slider/js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'cats/slider/js/jquery-ui-1.10.4.custom.js' %}"></script>
    
   <script>
        
        // Adds a random border to each image, without repeating borders until it uses them all.
        
        var borders = [];
        var numBorders = 8;
        function makeUniqueRandom() {
            // refill the array if needed
            if (!borders.length) {
                for (var i=0; i < numBorders; i++) {
                    borders.push(i);
                }
            }
            var index = Math.floor(Math.random() * borders.length);
            var val = borders[index];
            
            // now remove that value from the array
            borders.splice(index, 1);
            
            return val;
        }
        
        $(document).ready(function() {
            $('img').each(function(i) {
                $(this).addClass('border' + (makeUniqueRandom() + 1));
            });
        });
    
        
        
    </script>
    
    {% block head %}
    
       
    {% endblock head %}
    
</head>

<body>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'cats/cutecats.css' %}" />
    <h1><a href="{% url "index" %}" class="cute">Cute <span>or<span> Really Cute</span></span></a></h1>
    
    {% block content %}
    <div class="center"></div>
    {% endblock %}
</body>
</html>
