body {
    /* background: linear-gradient(to bottom right, #E0EAFF, #DBC9B8);*/
    background: radial-gradient(#DBC9B8, #E0EAFF);
    width:900px;
    margin: 0 auto;
}

h1 {
    background: #EDE9D8/*#EDE7CC*/;
    font-family: "Cambria", "Palatino", sans-serif;
    font-size: 40pt;
    text-align: center;
    border: 3px outset;
    border-radius: 100px;
    padding: 5px;
    margin: 0 auto;
    width:600px;
}

h2 {
    font-family: 'Asap', sans-serif;
    font-size: 14pt;
    text-align: center;
    color: #7C7C8E; 
}

a.cute {
    text-decoration: none;
    color:#3366CC;
    font-family: "Alike", serif;
    font-weight: bolder;
    font-size:46pt;
    vertical-align: bottom;
}

a.cute span {
    color: #7C7C8E;
    font-size: 40pt;
    font-weight: 800;
    font-style: italic;
    font-family: "Annie Use Your Telescope", serif;
    padding: 5px;
    vertical-align:10px;
}

a.cute span span {
    color: #990000;
    font-family: "Alike", serif;
    font-size: 46pt;
    font-weight: bolder;
    font-style: normal;
    vertical-align: bottom;
}

a.cute:visited {
    color:#3366CC;
    
}

a.cute:visited span {
    color:#7C6C8E;
}

a.cute:visited span span {
    color:#990000;
}

.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: 'Gudea', sans-serif;
    font-size: large;
    color:#4D4949;
    text-align: center;
}

button {
    font-family: "Asap", sans-serif;
    border: 2px #aaaaaa solid;
    float:right;
    border-radius: 50px;
    margin-right: 160px;
    margin-top: -20px;
    font-size: large;
    color: black;
    background: #F0E7D8;
}

#average {
    border-radius: 50px;
    font-size: x-large;
    text-align: center;
    display: block;
    font-family: "Alike", serif;
    font-style: italic;
    color: #990000;
}

.ssbuttons {
    font-size:x-large;
    color:#7A1111;
    background:#D8E1F0;
    width:210px;
    margin: 0 50 0 50;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

#searchkitty {
    float: left;
}

#submitkitty {
    float: right;
}

#vote {
    float: right;
    border-radius: 50px;
    margin-right: 160px;
    margin-top: -20px;
    font-size: medium;
    color: black;
    background: #F0E7D8;

}

#next {
    color:#990000;
}

#catdisplay {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
}

.catpicl {
    padding-right: 25px;
}

.catpicr {
    padding-left: 25px;
}

.catpiccuteness {
    font-family: Georgia, Baskerville, "Baskerville Old Face", serif;
    font-size: x-large;
    color: #990000;
    font-style: italic;
}

#rotatel {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
}

#rotater {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
}

img {
    display: block;
    margin: 0 auto;
    border-style: solid;
}

.border1 {
    padding: 5px;
    border-width: 70px;
    -moz-border-image: url(starframegold.png) 110 116 stretch;
    -webkit-border-image: url(starframegold.png) 110 116 stretch;
    -o-border-image: url(starframegold.png) 110 116 stretch;
    border-image: url(starframegold.png) 110 116 stretch;
}

.border2 {
    border-width: 70px;
    -moz-border-image: url(pointyframeblue.png) 47 48 stretch;
    -webkit-border-image: url(pointyframeblue.png) 47 48 stretch;
    -o-border-image: url(pointyframeblue.png) 47 48 stretch;
    border-image: url(pointyframeblue.png) 47 48 stretch;
}

.border3 {
    border-width: 64px;
    -moz-border-image: url(squareframegold.png) 64 stretch;
    -webkit-border-image: url(squareframegold.png) 64 stretch;
    -o-border-image: url(squareframegold.png) 64 stretch;
    border-image: url(squareframegold.png) 64 stretch;
}

.border4 {
    border-width: 70px;
    -moz-border-image: url(pointyframepink.png) 47 48 stretch;
    -webkit-border-image: url(pointyframepink.png) 47 48 stretch;
    -o-border-image: url(pointyframepink.png) 47 48 stretch;
    border-image: url(pointyframepink.png) 47 48 stretch;
}

.border5 {
    border-width: 35px 38px;
    -moz-border-image: url(thinframegold.png) 35 38 stretch;
    -webkit-border-image: url(thinframegold.png) 35 38 stretch;
    -o-border-image: url(thinframegold.png) 35 38 stretch;
    border-image: url(thinframegold.png) 35 38 stretch;
}

.border6 {
    border-width: 35px 38px;
    -moz-border-image: url(thinframeblue.png) 35 38 stretch;
    -webkit-border-image: url(thinframeblue.png) 35 38 stretch;
    -o-border-image: url(thinframeblue.png) 35 38 stretch;
    border-image: url(thinframeblue.png) 35 38 stretch;
}

.border7 {
    padding: 5px;
    border-width: 70px;
    -moz-border-image: url(starframepink.png) 110 116 stretch;
    -webkit-border-image: url(starframepink.png) 110 116 stretch;
    -o-border-image: url(starframepink.png) 110 116 stretch;
    border-image: url(starframepink.png) 110 116 stretch;
}

.border8 {
    border-width: 64px;
    -moz-border-image: url(squareframerainbow.png) 64 stretch;
    -webkit-border-image: url(squareframerainbow.png) 64 stretch;
    -o-border-image: url(squareframerainbow.png) 64 stretch;
    border-image: url(squareframerainbow.png) 64 stretch;
}
